
{{!-- Login Form --}}
{{!-- need to enter post and on click methods  --}}
  <div class="container">
  <div class="row">
  <div class="col-8 offset-2">
    <h1>Create a new account!</h1>
    <form class="clearfix mb-4" action="/" methos="POST">
{{!-- Enter Email --}}
    <div class="form-group">
    <label for="userEmail">Email</label>
    <input type="email" id="userEmail" class="form-control" placeholder="adam@gmail.com">
    </div>
{{!-- Enter Password --}}
    <div class="form-group">
    <label for="userPassword">Password</label>
    <input type="password" class="form-control" id="userPassword" placeholder="password"></textarea>
    </div>
{{!-- Submit Button --}}
    <button id="submit" class="btn btn-primary float-right">Submit</button>
    </form>     
    </div>
    </div>
  </div>