<head>
<link rel="stylesheet" type="text/css" href="../public/styles/styles.css">
</head>

 <!-- nav bar -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="btn btn-default" href="index.html">
        <i class="fa fa-headphones fa-2x"></i>
        </a>
        </li>
        </ul>
        <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" role="button" data-target="#carouselExampleControls" data-slide-to="0" href="#" id="logoutButton">LOGOUT</a>
                </li>
                </ul>
        </nav> 
        
        
<!-- Search form -->
<form class="example" action="action_page.php">
    <input type="text" placeholder="Search an artist..." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<div class="sidenav" id="artists">
    <a href="#">Append artist here</a>
    <a href="#">Append artist here</a>
    <a href="#">Append artist here</a>
    <a href="#">Append artist here</a>
</div>

<div id="personalContent">
    Display information here
</div>