.navbar {
    font-family: 'Roboto Condensed', sans-serif;
}

#home_image {
    margin: 5px;
    text-align: center;
}

#homediv {
    border: black;
    border-style: solid;
    margin: 20px;
    padding: 20px;
    width: 50px;
    text-align: center;
}
.btn {
    color: white;
    opacity: 1;
}

/* search bar css below */
form.example {
    float: right;
    padding: 10px;
}


/* Clear floats on search bar*/
form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .sidenav {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 0;
    top: 10;
    left: 0;
    background-color: rgb(211, 183, 183);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

#personalContent {
    text-align: center;
    padding: 40px;
    border: 5px;
}

footer {
    color: grey;
    size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
    margin: 20px;

}